@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil");

*
{
	background-color: #7e7e7e;
}

header
{
	text-align: center;
	margin-top: 20px;
    	margin-bottom: 20px;
}

body
{
	text-align: center;
	font-family: 'Allerta Stencil', sans-serif;
	margin: auto;
	float: none;
	max-width: 700px;
}

p
{
	text-align: left;
}

hr
{
	background-color: #000000;
	border-color: #000000;
}

img
{
	width:auto;
	height:300px;
	margin-top: 20px;
    	margin-bottom: 20px;
	margin-left: 20px;
    	margin-right: 20px;
	border-radius:10%
}

video
{
	width:auto;
	height:300px;
	margin-top: 20px;
    	margin-bottom: 20px;
	margin-left: 20px;
    	margin-right: 20px;
}

h1, h2, h3, h4, h5, h6
{
    	color: #000000;
    	font-variant: small-caps;
    	font-weight: 200;
	margin-top: 10px;
    	margin-bottom: 10px;
}

a.button:link, a.button:visited, a.button:active
{
	padding: 10px 12px;
	font-size: 150%;
	text-decoration: none;
	letter-spacing: 3px;
	color: black;
	border-radius: 5px;
}

a.button:hover 
{
	background-color: black;
    	color: #7e7e7e;
}