@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil");

body
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #7e7e7e;
    	text-align: center;
	text-transform: uppercase;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 120%;
}

hr
{
	background-color: #000000;
	border-color: #000000;
}

a:link, a:visited, a:active
{
	padding: 10px 12px;
	font-size: 150%;
	text-decoration: none;
	letter-spacing: 3px;
	color: black;
	border-radius: 5px;
}

a:hover 
{
	background-color: black;
    	color: #7e7e7e;
}